body {
	background-color: tan;
	font-family: monospace;
}
h1{ 
font-family:sans-serif;
display: flex;
justify-content:center;
 }

h2 {
	font-family: serif;
	display: flex;
justify-content:center;
}

label {
	font-family: serif;
	font-size: 22px;
}
